body {
  margin:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #fff3e0, #ffffff);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.hero-content {
  max-width: 500px;
}

img {
  width: 50vw;
  height: auto;
}
.cta-button {
  display: flexbox;
  padding: 12px 24px;
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: orange;
  border-radius: 10px;
  text-decoration: double;
  transition: all 0.2s ease;
}

.cta-button:hover {
  background-color:orangered;
  color: #ffffff;
  transform: scale(1.05);
}